@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
    display:grid;
    background: #F5F5F5;
    min-height: 100vh;
}

#sign-in-form{
    max-width: 330px;
}

#main-container{
    place-items: center center;
}

.bootstrap-logo{
    width: 72px;
    height: 72px;
}